* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.wav binary
*.mp3 binary
*.safetensors binary

uv.lock linguist-generated=true
web/package-lock.json linguist-generated=true
